<article class="block contact-block clearfix">
    {{ form_start(form) }}

    <p class="center">Write us a message by filling the form below. Thank you.</p>

    {% if mailSent %}
        <div class="alert alert-success" role="alert">
            {{ mailSent }}
        </div>
    {% endif %}

    {% if form_errors(form) %}
        <div class="alert alert-danger" role="alert">{{ form_errors(form) }}</div>
    {% endif %}

    {{ form_widget(form.subject, {'attr': {'class': 'text'}}) }}
    {{ form_widget(form.name, {'attr': {'class': 'text'}}) }}
    {{ form_widget(form.email, {'attr': {'class': 'text'}}) }}
    {{ form_widget(form.company, {'attr': {'class': 'text'}}) }}
    {{ form_widget(form.captcha.captcha, {'attr': {'class': 'text'}}) }}
    {{ form_widget(form.message, {'attr': {'class': 'textarea'}}) }}

    <input id="submit" value="Envoyer le message" class="submit" type="submit">

    {{ form_end(form) }}

</article>
