<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Message sur le site</title>
</head>
<body class="menu-close">
<div style="font-family:Helvetica, Arial,sans-serif;">
    <p style="font-weight:bold;font-size:1.6em;color:#165F23;margin:0 0 20px 0">
        Un message a été envoyé depuis le formulaire de contact
    </p>
    <p style="font-size:1.5em;color:#333">
        Expéditeur:  <strong>{{ name }}</strong><br>
        <em>Société:  {{ company }}</em><br>
        <em style="font-style:italic">Email:  {{ email }}</em><br>
        <em style="font-style:italic">IP:  {{ ip }}</em><br>
        <em style="font-style:italic">Navigateur:  {{ browser }}</em>
    </p>
    <p>
        <span style="font-weight:bold;font-size:1.3em;color:#333">{% if subject %}Sujet : {{ subject }}{% else %}Contenu du message :{% endif %}</span><br><br>
        <span style="font-size:1.6em;">{{ message|nl2br }}</span>
    </p>
</div>
</body>
</html>
