{% trans_default_domain "NamiContactFormBundle" %}
<article class="block contact-block clearfix">
    {{ form_start(form) }}

    <p class="center">{% trans %}block.header{% endtrans %}</p>

    {% if mailSent %}
        <div class="alert alert-success" role="alert">
            {{ mailSent }}
        </div>
    {% endif %}

    {% if form_errors(form) %}
        {{ form_errors(form) }}
    {% endif %}

    {{ form_row(form.subject, {'attr': {'class': 'm-b'}}) }}
    {{ form_row(form.name, {'attr': {'class': 'm-b'}}) }}
    {{ form_row(form.email, {'attr': {'class': 'm-b'}}) }}
    {{ form_row(form.company, {'attr': {'class': 'm-b'}}) }}

    {{ form_row(form.captcha.captcha, {'attr': {'class': 'm-b'}}) }}

    {{ form_row(form.message, {'attr': {'class': 'm-b'}}) }}

    {{ form_row(form.submit) }}

    {{ form_end(form) }}

</article>
